%table{:width => "950"}
  %tr
    %td
      %div.navDiv
        %a{:href => "who"}
          %img{:id => "whoAmIImg", :src => "img/who-am-i-green.gif"}
      %div.navDiv
        %a{:href => "what"}
          %img{:id => "whatIsImg", :src => "img/what-is-homeo-green.gif"}
      %div.navDiv
        %a{:href => "faq"}
          %img{:id => "faqImg", :src => "img/faq-green.gif"}
      %div.navDiv
        %a{:href => "stories"}
          %img{:id => "storiesImg", :src => "img/stories-green.gif"}
      %div.navDiv
        %a{:href => "contact"}
          %img{:id => "contactImg", :src => "img/contact-orange.gif"}
      %div.lastNavDiv
        %img{:src => "img/logoaba80.jpg"}
    %td
      %div#text
        אביב הגיע ועימו הפריחה- אפשר לעבור את עונת המעבר בשלום– הנכם מוזמנים לפגישת הכרות ויעוץ למניעה וטיפול במחלות אקויטות או כרוניות.
        %br
        %br
        לקביעת פגישות או יעוץ טלפוני:
        %br
        %br
        תל אביב
        %br
        054-536-3393
        %br
        %a{:class => "mailMain", :href => "mailto:yayagalor@gmail.com"}
          yayagalor@gmail.com 
%div.push