%table{:width => "950"}
  %tr
    %td
      %div.navDiv
        %a{:href => "who"}
          %img{:id => "whoAmIImg", :src => "img/who-am-i-green.gif"}
      %div.navDiv
        %a{:href => "what"}
          %img{:id => "whatIsImg", :src => "img/what-is-homeo-green.gif"}
      %div.navDiv
        %a{:href => "faq"}
          %img{:id => "faqImg", :src => "img/faq-orange.gif"}
      %div.navDiv
        %a{:href => "stories"}
          %img{:id => "storiesImg", :src => "img/stories-green.gif"}
      %div.navDiv
        %a{:href => "contact"}
          %img{:id => "contactImg", :src => "img/contact-green.gif"}
      %div.lastNavDiv
        %img{:src => "img/logoaba80.jpg"}
    %td
      %div#text
        %strong
          שאלה: במה ובמי מטפלת הומיאופתיה?
        %br
        תשובה: הטיפול ההומיאופתי פונה ומתאים לכל הגילאים, לבעיות פיזיות, רגשיות ונפשיות ולמצבים אקוטיים וכרוניים כאחד.
        %br
        %br
        %strong
          שאלה: האם ניתן לקחת תרופות הומיאופתיות יחד עם תרופות קונבנציונאליות?
        %br
        תשובה: בהחלט. אומנם בכוחה של ההומיאופתיה לרפא מגוון רחב של מכאובים, אך לעיתים יש צורך לקחת תרופה קונוונציונאלית כמערך תומך. תוך כדי התייעצות עם הרופא המומחה והמטפל ההומיאופתי ניתן להגיע לאיזון המותאם לכל מקרה ומקרה.
        %br
        %br
        %strong
          שאלה: האם ניתן להיות מטופלת בהומיאופתיה בזמן הריון?
        %br
        תשובה: ניתן ואף רצוי. תהליך ההיריון הינו תהליך מופלא ומרגש, אך לעיתים מלווה במכאובים וקשיים פיזיים ורגשיים כגון: בעיות פוריות, בחילות הריון, תופעות לוואי,  ועוד. לרוב לא ניתן לטפל בתרופות קונוונציונאליות בזמן הריון ולכן נדרשת תמיכה רפואית אלטרנטיבית, זאת בכדי לאפשר לאם ולתינוק תהליך הריון ולידה נכון, טבעי ובריא.
        %br
        %br
        %strong
          שאלה:האם יש לתרופה הומיאופתית תופעות לוואי?
        %br
        תשובה:תרופה הומיאופתית עשויה מצמחים, מינרלים וחומרים אחרים מן הטבע. ההתאמה בין המטופל לבין התרופה ההומיאופתית היא מקסימאלית ולכן אין חשש לתופעות לוואי. יחד עם זאת, לעיתים בזמן נטילת התרופה ההומיאופתית עלולה להיות החמרה קלה בימים הראשונים, החמרה שנועדה "לעורר" את כוחות הריפוי הפנימיים של הגוף לתת מענה משל עצמו. אנו קוראים להחמרה שכזו "החמרה לשם ריפוי" והיא לרוב צפויה ועוברת לאחר ימים ספורים. תופעה זו דומה לתופעות שאנו חולים לאחר מתן חיסון ובעקבותיו פיתוח נוגדנים למחלה.
        %br
        %br
        %strong
          שאלה: כמה זמן עורך תהליך טיפול הומיאופתי?מתי ניתן לראות שינוי ראשוני?
        %br
        תשובה: הומיאופתיה מושתת על תהליך אינדיבידואלי ואישי ולכן גם תהליך הריפוי מתנהל כך. התשובה משתנה מאדם לאדם, לכן האבחנה הפרטית תינתן לאחר המפגש הראשון. ברוב המקרים המטופל ירגיש שיפור(שיכול לבוא לידי ביטוי בתזונה, בהרגלי שינה, במצב רוח כללי ועוד) תוך לפחות שבועיים- שלושה.
        %br
        %br
        %strong
          שאלה:  מהי תרופה הומאופתית?
        %br  
        תשובה: תרופה הומיאופתית עשויה מחומרים טבעיים בלבד הכוללים צמחים, מינרלים ועוד. חשוב לציין כי התרופה ההומיאופתית עוברת תהליך של דילול וניעור(פוטנטיזציה) ולכן אינה דומה לתרופות צמחיות שונות של שיטות טיפול כאלו ואחרות. הומיאופתיה היא רפואה "טבעית" בעיקר בגלל יכולתה לעודד את הכוחות הפנימיים של האדם אשר יביאו אותו לשינוי עמוק בבריאות חייו.
        %br
        %br
        %br
        %br
        לשאלות נוספות אשמח לענות בטלפון: 054-536-3393
%div.push