%table{:width => "950"}
  %tr
    %td
      %div.navDiv
        %a{:href => "who"}
          %img{:id => "whoAmIImg", :src => "img/who-am-i-orange.gif"}
      %div.navDiv
        %a{:href => "what"}
          %img{:id => "whatIsImg", :src => "img/what-is-homeo-green.gif"}
      %div.navDiv
        %a{:href => "faq"}
          %img{:id => "faqImg", :src => "img/faq-green.gif"}
      %div.navDiv
        %a{:href => "stories"}
          %img{:id => "storiesImg", :src => "img/stories-green.gif"}
      %div.navDiv
        %a{:href => "contact"}
          %img{:id => "contactImg", :src => "img/contact-green.gif"}
      %div.lastNavDiv
        %img{:src => "img/logoaba80.jpg"}
    %td
      %div#text  
        יעל גלור בוגרת 4 שנות לימוד במכללה למנהל- מדיקולג' בהנהלתה של דוקטור רינה מרקוביץ'.
        %br 
        %br שנת טיפול בבית חולים אסף הרופא במחלקת שיר"מ לרפואה משולבת. בוגרת קורס מורים ליוגה לנשים בהריון ולילדים בהנחיית דוקטור אודי בילו.לימוד במרכז "דנאל" יוגה לילדים בעלי בעיות התפתחותיות ומאותגרים שכלית. השתלמות של שישה חודשים במרכז להומיאופתיה קלאסית בומבי- הודו, והתמחות בריפוי מחלות עור, טיפול בילדים, נשים בהריון ויחסי מטפל מטופל. טיפול התנדבותי במרכז אלמוג לנערות ונשים פגועות נפש, העוסק בליווי ותמיכה בשילובן בחיי הקהילה. 
        %br 
        %br כיום מנהלת יעל גלור קליניקה דינאמית בתל אביב, ומלווה את מטופליה בהתמודדות עם מחלות אקוטיות, כרוניות, ובתמיכה אישית במהלך החיים.
%div.push