%table{:width => "950"}
  %tr
    %td
      %div.navDiv
        %a{:href => "who"}
          %img{:id => "whoAmIImg", :src => "img/who-am-i-green.gif"}
      %div.navDiv
        %a{:href => "what"}
          %img{:id => "whatIsImg", :src => "img/what-is-homeo-green.gif"}
      %div.navDiv
        %a{:href => "faq"}
          %img{:id => "faqImg", :src => "img/faq-green.gif"}
      %div.navDiv
        %a{:href => "stories"}
          %img{:id => "storiesImg", :src => "img/stories-orange.gif"}
      %div.navDiv
        %a{:href => "contact"}
          %img{:id => "contactImg", :src => "img/contact-green.gif"}
      %div.lastNavDiv
        %img{:src => "img/logoaba80.jpg"}
    %td
      %div#text
        %strong
          על התשאול:
        %br
        %br
        הטיפול ההומאופתי ראשיתו בתשאול. התשאול מתמקד בתלונה מרכזית של המטופל/ת. תוך כדי התמקדות בתלונה, התשאול תר אחר תחושות יסוד החוזרות ונשנות בחיי המטופל. התשאול ההומאופתי שם דגש על תחושות וחוויות פנימיות, ולכן פעמים רבות מהווה עולם החלומות מפתח מרכזי בהבנת עולמו הפנימי של המטופל. התרופה שיקבל המטופל תהיה על-כן ייחודית עבורו.לאחר נטילת התרופה יהיה מעקב, ובו נווכח בהשפעת התרופה כדי לוודא מגמה של שיפור.
        %br
        %br
        %strong
          תאורי מקרה:
        %br
        %br
        %strong
          אלכס
        %br
        אלכס, בחור כבן שלושים וחמש, הגיע לקליניקה מכיוון שסבל ממיגרנות חמורות. המיגרנות הופיעו בתדירות של פעמיים-שלוש בשבוע, ונטרלו אותו לחלוטין מכל פעילות. במהלך התשאול סיפר אלכס, כי במהלך התקפות המיגרנה הוא חש מחנק ותחושת כאב קשה. בדומה לכך, התברר בהמשך התשאול, כי כבר מגיל צעיר נהג אלכס לסבול ממצבים של צפיפות ודוחק, ונתקף חרדה במקומות הומים. כילד, גילה רגישות מיוחדת כלפי מצבי אלימות וקלסטרופוביה. אלכס ציין, כי גם כהורה, הוא נוטה להלחץ יתר על המידה בנוגע לילדיו, בעיקר כשהדבר נוגע באותן נקודות ממש: מקומות חנוקים, ארועים הומי אדם וגילויי אלימות. אלכס סיפר כי בחלומותיו שב ומופיע מוטיב הרדיפה. בחלומותיו הוא נרדף תוך איום על חייו, וכן כלוא במבנה שחור וחנוק. מאידך, מוקדי המשיכה בחייו של אלכס הם חופש, נשימה, תנועה, צבעים ופתיחות.
        %br
        %br
        המקרה אמנם מתואר בקצרה, אך ניתן להבחין במוטיבים המרכזיים בחייו של אלכס: תחושות של צפיפות, דוחק, מחנק ואלימות, ולעומתן תחושות הופכיות, כגון: חופש, פתיחות ותנועה. התרופה שנתנה לאלכס היא צמח הקרוי דרוסרה, שבמהותו של תרופה זו עומדים שני רעיונות מרכזיים: תחושת הכליאה והדוחק אל מול  הרצון לחופש ותנועה. ברמה הסימפטומאטית התרופה רלוונטית למצבי כאבי ראש והתאימה למכלול הסימפטומים שהוצגו במקרה. במעקב הראשון, כעבור חודש מנטילת התרופה, דיווח אלכס על ירידה משמעותית בתדירות המיגרנות לכפעמיים בחודש בלבד. בנוסף, ציין כי הוא חש רגוע יותר במהלך היומיום. במעקב הבא, כעבור חצי שנה מזמן נטילת התרופה, דיווח אלכס כי המיגרנות חדלו לגמרי. בנוסף, דיווח על רגיעה שהתבטאה בשינה טובה, תאבון ותחושה כללית טובה ורגועה יותר.
        %br
        %br
        %strong
          איריס
        %br
        את איריס פגשתי בדרכי חזרה ארצה מבומבי. בעודנו עומדות באחד מתורי הבידוק, סבלה איריס מכאבי בטן, ונאלצה לרוץ לשרותים כל מספר דקות. בנוסף, היא היתה עייפה ותשושה מאד, והתלוננה על סחרחורות, תחושת קור, כאבי שרירים ובחילה. הצעתי לאיריס תרופה הומאופתית שמתאימה למצבה האקוטי. כחצי שעה לאחר נטילת התרופה נרדמה איריס בנינוחות במושבה במטוס. היא התעוררה רק בזמן הנחיתה, ודיווחה כי כאבי הבטן נעלמו כליל, וכי היא חשה בטוב.
        %br
        %br
        %strong
          אביב
        %br
        חשוב לציין כי טיפול הומיאופתי בילדים מצריך תשאול שונה במעט מתשאול מבוגרים. בטיפול בילדים יתושאלו הורי הילד במקביל להתבוננות ושיחה (אם ניתן) עם הילד עצמו.
        %br
        %br
        אביב, ילד כבן שלוש שנים, הגיע לטיפול בעקבות נטייה לבעיות נשימה, סטרידו, שיעולים והצטננויות חוזרות ונשנות. אמו, אורלי, אפיינה אותו כילד אקטיבי במיוחד, שמתקשה לשבת בשקט לאורך זמן. היא ציינה כי יש לו קשר חזק עם צ'יקה, כלבתם, וכי באופן כללי מגלה התעניינות מיוחדת בבעלי חיים. עם זאת, המשחק עם צ'יקה לווה לא אחת בהתעללויות, שהסבו לאביב הנאה. אביב אוהב מוסיקה קצבית, תופים וריקוד. אורלי ציינה כי הוא אוהב להיות "מסמר הערב", וכי הוא זקוק לתשומת לב רבה. אביב אוהב מרחבים, תנועה ומשחק, אך לא מבחין בגבול שבין משחק לאלימות.
        %br
        %br
        אביב קבל תרופה הומאופתית הקרויה טרנטולה שבמרכזה עומדים: חוסר שקט, תנועה, אלימות, אהבה לבעלי חיים, מוזיקה וריקוד. במעקב שנערך במהלך שלושת החודשים שלאחר נטילת התרופה ניתן היה להבחין בשיפור משמעותי. ההצטננויות והמחלות בדרכי הנשימה הופחתו במידה ניכרת, והתנהגותו של אביב היתה רגועה יותר.
%div.push