%table{:width => "950"}
  %tr
    %td
      %div.navDiv
        %a{:href => "who"}
          %img{:id => "whoAmIImg", :src => "img/who-am-i-green.gif"}
      %div.navDiv
        %a{:href => "what"}
          %img{:id => "whatIsImg", :src => "img/what-is-homeo-orange.gif"}
      %div.navDiv
        %a{:href => "faq"}
          %img{:id => "faqImg", :src => "img/faq-green.gif"}
      %div.navDiv
        %a{:href => "stories"}
          %img{:id => "storiesImg", :src => "img/stories-green.gif"}
      %div.navDiv
        %a{:href => "contact"}
          %img{:id => "contactImg", :src => "img/contact-green.gif"}
      %div.lastNavDiv
        %img{:src => "img/logoaba80.jpg"}
    %td
      %div#text
        הומיאופתיה הינה שיטת ריפוי טבעית, עדינה ועמוקה אשר מטרתה לעזור לגוף בתהליך הריפוי העצמי. מטרת הטיפול היא יצירת בריאות שאינה דיכוי סימפטומים גרידא, אלא השגת שיפור באיכות החיים. בהומיאופתיה ההתייחסות לאדם היא כמכלול שלם, פיזי, נפשי ורגשי והבנת האדם  היא תנאי למציאת תרופה הומיאופתית מתאימה ביותר
        %br
        %br
        חוק הדומה בדומה עומד בבסיס ההומיאופתיה. הרפואה הקונבנציונאלית מטפלת בחולה באמצעות תרופה היוצרת תמונת סימפטומים שונה, לדוגמא אדם הסובל משלשולים יקבל תרופה יוצרת עצירות, אדם הסובל מתיאבון מוגבר יקבל נוגדי תיאבון.ההומיאופתיה מציעה כי אם תינתן לאדם מנה מזערית, יחידה ודומה לתמונת המחלה- הכוח החיוני שבאדם יתעורר ויגיב לתרופה ההומיאופתית ולמחלה יחדיו.
        %br
        %br
        על המטפל ההומיאופתי לחקור ולהבין את תמונת חייו האינדיבידואלית של האדם, בצורה הכוללת והמלאה ביותר, דרך המכאובים הפיזיים והרגשיים ולבצע התאמה לתרופה הומיאופתית הדומה ביותר, אשר תגע  בשורש הבעיה ותעורר את מנגנון הריפוי הטבוע בו, וכך תביא להבראתו.
        %br
        %br
        התרופות ההומיאופתיות עשויות מחומרים טבעיים הכוללים מינרלים ,תרכובות אורגניות ועוד. לדוגמא צמח הבבונג, שעועית לבנה, זהב או שוקולד הן תרופות הומיאופתיות נפוצות. הטיפול נעשה בעזרת תרופה הומיאופתית יחידה, התרופה עוברת תהליך של דילול וניעור. במהלך התהליך עוצמת התרופה עולה ובמידה מסוימת ריחוקה מהחומר המקורי הופך אותה למדויקת יותר וללא תופעות לוואי.
%div.push